<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p><%= headerContent %></p>

    <a href="/compose">New entry</a>
    <% posts.forEach(post => { %>
        <%- include("post", { post: post }); %>
    <% }) %>

<%- include("partials/footer"); -%>